	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Kontakta oss</h3>
				<hr>
				<p>Då vår webshop för tillfället ligger nere så tar vi endast emot beställningar på telefon/mail.</br>
				</p>
				<p>För prisuppgifter på kamremsset inkl vattenpump till just din bil, vänligen fyll i formuläret nedan eller ring oss. 
					Ange gärna reg nr.</br>
				</p>
				<p>Fyll i uppgifterna nedan så återkommer vi inom 24 timmar
				</p>
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
				<form role="form">
				  <div class="form-group">
				    <input type="name" class="form-control" id="NameInputEmail1" placeholder="Your Name">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="subjectEmail1" placeholder="Subject">
				    <br>
				  </div>
				  <textarea class="form-control" rows="6" placeholder="Enter your text here"></textarea>
				    <br>
				  <button type="submit" class="btn btn-success">SUBMIT</button>
				</form>    			
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	