<div class="container" style="margin-top:30px">
<h4>ÅTER 2014-10-30</h4>
<p>Bäste kund, vi växer så det knakar. Webshoppen och reg. nr sök funktionen får sig därför ett facelift och beräknas vara åter i bruk igen 2014-10-30.
Tills dess går det bra att beställa av oss via mail eller telefon som vanligt.</p>
<ul>
	<li>Vi ser fram emot spännande nyheter så som Förbättrad och uppdaterad reg nr sök funktion
	</li>
	<li>Ny bil-passformslista
</li>
<li>Möjligt med räntefri delbetalning med Klarna
</li>
<li>Design och nya språk
</li>
</ul>
<p></br>Vi tackar för er förståelse,
</p>
<p>Nichlas, </br>Bildelsbyte.se
</p>
</div>