		<!-- +++++ Welcome Section +++++ -->
		<div id="ww">
		    <div class="container">
				<div class="row">

					<div class="col-lg-5 col-lg-offset-1 centered">	<a href="#" data-toggle="tooltip" title="feature not avaialle!">
	<img class="img-responsive" src="images/belt.jpg" alt="" /></a>
					</div>

					<div class="col-lg-5 col-lg-offset-1 centered"><a href="#" data-toggle="tooltip" title="feature not available!">
						<img class="img-responsive" src="images/bearing.jpg" alt="" /></a>
					</div>
				</div>
		    </div> 
		</div>
		
		
		<!-- +++++ Projects Section +++++ -->

		<style type="text/css">
	.col-lg-4 img{
		max-width: 360px;
		max-height: 300px
	}
		</style>
		
		<div class="container pt">
			<div class="row mt centered">	
				<div class="col-lg-4">
					<a class="zoom green" href="#!"><img class="img-responsive" src="images/01.jpg" alt="" /></a>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" href="#!"><img class="img-responsive" src="images/02.jpg" alt="" /></a>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" href="#!"><img class="img-responsive" src="images/03.jpg" alt="" /></a>
				</div>
			</div><!-- /row -->

			<div class="row mt centered">	
				<div class="col-lg-4">
					<a class="zoom green" href="#!"><img class="img-responsive" src="images/04.jpg" alt="" /></a>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" href="#!"><img class="img-responsive" src="images/05.jpg" alt="" /></a>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" href="#!"><img class="img-responsive" src="images/06.jpg" alt="" /></a>
				</div>
			</div><!-- /row -->
		</div><!-- /container -->
		