<div class="container" style="margin-top:50px;padding:20px">

<h4>VATTENPUMP</h4>

<p>
[Vattenpump med pumphus. Vattenpumpens pumphus är ofta gjort i aluminium.] En vattenpump ser till att den kylvätska som finns i motorns kylsystem pumpas runt i motorn.
</p>
<h4>BYTA VATTENPUMP</h4>
<p>
Att byta vattenpump är ett projekt som bör överlåtas till en erfaren mekaniker. Om du läser vår information nedan förstår du varför. Du hittar din närmsta Autoexperten verkstad med hjälp av menyn på toppen av sidan eller sökfältet till höger. På våra verkstadssidor kan du enkelt begära en offert från aktuell verkstad. De hjälper dig gärna med din vattenpump.
</p><p>
<h4>OM VATTENPUMPEN
</h4>
</p><p>
En vattenpump sitter oftast på motorns framsida. Vanligtvis är den fastskruvad mot motorblocket och har en packning mellan sig och motorblocket. På baksidan eller insidan av en vattenpump sitter en impeller, ett slags hjul som driver runt kylvätskan i motorns kylkanaler och vidare ut i kylsystemet.
</p><p>
<h4>Vad händer om en vattenpump inte fungerar?
</h4>
<p>
Om din pump inte gör sitt jobb överhettas motorn och riskerar att få svåra skador. Ser du att temperaturmätaren närmar sig rött bör du så snart och säkert du kan köra åt sidan och stanna bilen.
</p><p>
En vattenpump kan drivas av generatorremmen, även ofta kallad fläktremmen, men på modernare bilar är en pump ofta en integrerad del av kamremskonstruktionen.</p><p>

Om du har en bil där kamremmen driver din pump så bör pumpen bytas samtidigt med kamrem, löphjul och spännhjul. En vattenpump kan nämligen i lika stor utsträckning som rem och hjul vara en orsak till kamremshaveri. Ett kamremshaveri innebär ofta omfattande och dyrbara skador på motorn. Kostnaden för att, som en försiktighetsåtgärd, byta vattenpump är försumbar i jämförelse.
</p>
</div>